:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(245, 245, 245, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::selection{
  background-color: #139c48;
  color: #f9efef;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #41c49c;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
p{
  margin: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #139c48;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
nav {
  background-color: #afbfa4;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(14,30,37,.12)
  z-index: 999;
  backdrop-filter: blur(5px) saturate(200%);
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.menu{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 492px;
  padding: 20px;

}
.menu li a{
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.menu li a:hover,
.menu li a.active{
color: #139c48;
}
.menu li a:hover::after
.menu li a.active::after
{
  content: "";
  width: 30px;
  height: 2px;
  background-color: #41c49c;
  position: absolute;
  bottom: -4px;
  left: 2px;
}
.logo>h1>span{
  color: aquamarine;
}
.main{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  background-color: #f9efef;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  justify-content: center;
}
.two{
  display: flex;
  justify-content:center;
  place-items: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}
.box:hover{
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}
#brand-logo{
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
#brand-logo>img{
padding: 10px;
}
.data{
  background-color:aliceblue;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
th{
  background:#f9efef !important;
  width: 200px;
}
.img>img{
  border-radius: 10px;
}
.home{
text-align: center;
}
.icons {
  display: none;
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #139c48;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 700px){
  .menu{
    display: none;
  }
  .icons{
    display: block;
    color:#ffffff;
  }

}

@media screen and (max-width: 700px){
  .mobmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 200px;
    margin-top: 400px;
    position:absolute;
    right: 20px;
    background-color:#41c49c;
    border-radius: 20px;
    transition: 3s ease-out;
  }
  .icons{
    display: block;
    transition:3s ease-in-out;
  }

}